/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 6, 2015, 3:00:09 PM
    Author     : cgrid_000
*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/****************************************
 COLOR SCHEME - Only put background-color 
and  font colors here 

possible triadic colors
dark green #67851d
light green #cdda87
blue #1D6784
purple #841D67
light purple #DCC6E0
*****************************************/
/****** Primary Color ******/
body, footer {
  color: #67851d;
}
.navbar-default .navbar-brand {
  color: #67851d;
}
.carousel h1 {
  color: #fff;
}

/****** Secondary Color ******/
body, footer {
  background-color: #cdda87;
}

/****** Tertiary Color ******/
.dropdown-menu>.active>a, 
  .dropdown-menu>.active>a:hover, 
  .dropdown-menu>.active>a:focus {
    background-color: #1D6784;
}
a {
  color: #67851d;
}

a:focus {
  color: #67851d;
}

/****** Neutrals ******/
.carousel p {
  color: white;
}
.marketing-top-section {
    background-color: white;
}
.marketing-botton-section{
  background-color: white;
}
.lead {
  color: #4A4A4A;
}

/****** Unassigned ******/
a:hover {
  color: black;
}

.carousel h3{
  color: #cdda87;
}

/****************************************
 /END COLOR SCHEME
*****************************************/

body {
  padding-bottom: 40px;
  font-family: 'Pontano Sans', sans-serif;
}

footer {
  padding-top: 50px;
  font-size: 16px;
}

/* this wrapper div creates side-solumns once the screen gets toa certain size */
.sitecontent {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar a{
  font-size: 16px;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 0px;
}

.carousel h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-shadow: 1px 1px black;
}

.carousel h3{
  font-weight: bold;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 60px;
}

/*carousels with button or an H3 line need less spacing from the bottom*/
.carousel-caption-titleslide {
  bottom: 30px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner .item img {
  position: absolute;
  top: 0px;
  left: 0;
  min-width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .7;


  /*filters are expensive - consider carefully*/
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px); 
  -o-filter: blur(2px); 
  -ms-filter: blur(2px);
  filter: blur(2px);
}



/* default carousel images.
if a page doesn't specify the use of ither images
in the section below this one, then these images
will be used*/
img.first-slide{
  background-image: url("../img/carousel/main.jpg");
}

/*
img.second-slide {
    background-image: url("../img/carousel/aspen-grove-snowy.jpg");
}

img.third-slide {
    background-image: url("../img/carousel/sunset.jpg");
}

img.fourth-slide {
    background-image: url("../img/carousel/winter-lake.jpg");
}
*/

/* Here set custom carousel background images for pages I
 want to have different backgrounds than the defaults above */

/* Should I decide to bring the carousel back, uncomment them.
#index-first-slide {
  background-image: url("../img/carousel/wheatfield.jpg");
}
#index-second-slide {
  background-image: url("../img/carousel/coupleinbed.jpg");
}
#index-third-slide {
  background-image: url("../img/carousel/couplefield-cropped.jpg");
}
#index-fourth-slide {
  background-image: url("../img/carousel/couplesilly.jpg");
}
#index-fifth-slide {
  background-image: url("../img/carousel/gay-couple3.jpg");
}
*/

/* while these are commented out, the default images specified above will be used
#about-first-slide {
  background-image: url("../img/carousel/wheatfield.jpg");
}
#about-second-slide {
  background-image: url("../img/carousel/skier.jpg");
}
#about-third-slide {
  background-image: url("../img/carousel/mountain-cycling.jpg");
}
#contact-first-slide {
  background-image: url("../img/carousel/wheatfield.jpg");
}
#contact-second-slide {
  background-image: url("../img/carousel/mountain-lake.jpg");
}
#contact-third-slide {
  background-image: url("../img/carousel/winter-lake.jpg");
}
*/

/*
#sex-first-slide {
  background-image: url("../img/carousel/couple-in-bed-playful.jpg");
}
#sex-second-slide {
  background-image: url("../img/carousel/happycouple1-cropped.jpg");
}
#sex-third-slide {
  background-image: url("../img/carousel/couple-feet-in-bed.jpg");
}
#couple-first-slide {
  background-image: url("../img/carousel/couple-staring.jpg");
}
#couple-second-slide {
  background-image: url("../img/carousel/gay-couple-bench.jpg");
}
#couple-third-slide {
  background-image: url("../img/carousel/wheatfield.jpg");
}
#individual-first-slide {
  background-image: url("../img/carousel/sunset.jpg");
}
#individual-second-slide {
  background-image: url("../img/carousel/mountain-cycling2.jpg");
}
#individual-third-slide {
  background-image: url("../img/carousel/mindful-woman.jpg");
}
#lgbtq-first-slide {
  background-image: url("../img/carousel/gay-couple.jpg");
}
#lgbtq-second-slide {
  background-image: url("../img/carousel/lesbian-couple.jpg");
}
#lgbtq-third-slide {
  background-image: url("../img/carousel/gay-parents.jpg");
}
*/

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  margin-top: 0px;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
  border-color: black;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading h3 {
  font-size: 28px;
}

.lead {
  font-size: 18px;
  text-align: justify;
}

img.featurette-image{
  border-radius: 25px;
}


/* Marketing Sections
-----------------------------*/
.marketing-top-section {
    padding-top: 40px;
    text-align: center;
}

.marketing-botton-section{
  padding-right:50px;
  padding-left: 50px;
}

.marketing-botton-section li{
  font-size: 18px;
}


#googlemap > p > iframe {
  width: 425px;
  height: 350px;
}

#back-to-top{
  position:fixed;
  bottom: 20px;
  right: 20px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* For X-Small Devices like iPhone 3 and 4*/
@media (max-width: 440px) {
  /* Testing
  .marketing-top-section {
    background-color: red;
  } */

  /*End Testing Section*/

  /*This is mainly for the Google Map on contact.html*/
  iframe {
    height: 200px;
    width: 200px;
    resize: both;
    overflow: auto;
  }

  footer {
    font-size: 12px;
  }

  .navbar-brand {
    font-size: 14px;
  }

  .carousel h1 {
    font-size: 26px;
  }

  .carousel h3 {
    font-size: 24px;
  }

  .carousel p{
    font-size: 16px;
  }

  .carousel-caption {
    bottom: 70px;
  }

  .carousel-inner > .item {
    top: 30px; /*EUREKA! This is what will reposition the carousel inner contents to adjust for navbar changes*/
  }

  /* Styles for specific slides */
  img.first-slide{
      background-image: url("../img/carousel/main.jpg");
  }

  img.second-slide {
      background-image: url("../img/carousel/coupleinbed1-cropped.jpg");
  }

  img.third-slide {
      background-image: url("../img/carousel/couplebeach-cropped.jpg");
  }

  img.fourth-slide {
      background-image: url("../img/carousel/couplesilly-cropped.jpg");
  }

  .featurette-heading {
    font-size: 24px;
  }

  .lead {
    font-size: 18px;
  }

  .marketing-botton-section{
  padding-right:20px;
  padding-left: 20px;
  }

  .marketing-botton-section ul {
    padding-left: 25px;
  }

  #back-to-top {
    bottom: 0;
    right: 0;
  }

}

/* For Large Devices resolutions 768-992 
**(Remember that the default design is for "small" devices
with resoltions between 440 and 768)**
*/
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .carousel h1{
    font-size: 38px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .container{
    width: auto;
  }

  .featurette-heading {
    font-size: 36px;
  }

  /* TESTING 
  .marketing-top-section {
    background-color: orange;
  }*/
  /* END TESTING SECTION */
}

/* For Xtra Large Devices with resolutions  992+
Shouldn't be much different than for large*/
@media (min-width: 992px) {
  
  .container{
    width: auto;
  }

  .carousel h1{
    font-size: 42px;
  }

  .featurette-heading {
    
  }

  .featurette {
    margin-top: 40px;
  }

  /* TESTING
  .marketing-top-section {
    background-color: white;
  } */
  /* END TESTING SECTION */
}
